MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/UpdInsInf/UpdInsInf_frm_EEResp_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://updinsinf_frm_eeresp_1_0.wsbeans.iseries/xsd"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:tns="http://updinsinf_frm_eeresp_1_0.wsbeans.iseries" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://updinsinf_frm_eeresp_1_0.wsbeans.iseries">
	<wsdl:documentation>UpdInsInf_frm_EEResp_1_0</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://updinsinf_frm_eeresp_1_0.wsbeans.iseries/xsd">
			<xs:element name="updinsinf_frm_eeresp_1_0_XML">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true"
							type="ns:UpdInsInf_frm_EEResp_1_0Input" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="UpdInsInf_frm_EEResp_1_0Input">
				<xs:sequence>
					<xs:element minOccurs="0" name="branchHost" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="_DeductableAmt"
						nillable="true" type="xs:decimal" />
					<xs:element minOccurs="0" name="_DeductableAmtMet"
						nillable="true" type="xs:decimal" />
					<xs:element minOccurs="0" name="_EEPlanName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="_InsEffDate" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="_OOPMax" nillable="true"
						type="xs:decimal" />
					<xs:element minOccurs="0" name="_OOPMaxMet" nillable="true"
						type="xs:decimal" />
					<xs:element minOccurs="0" name="_PatientID" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="_PayorID" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="_PlanCoverPercnt"
						nillable="true" type="xs:decimal" />
					<xs:element minOccurs="0" name="_PlanID" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="updinsinf_frm_eeresp_1_0_XMLResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updinsinf_frm_eeresp_1_0">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true"
							type="ns:UpdInsInf_frm_EEResp_1_0Input" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updinsinf_frm_eeresp_1_0Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ns:UpdInsInf_frm_EEResp_1_0Result" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="UpdInsInf_frm_EEResp_1_0Result">
				<xs:sequence>
					<xs:element minOccurs="0" name="_Exception" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="_ExceptonDes" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="updinsinf_frm_eeresp_1_0Request">
		<wsdl:part name="parameters" element="ns:updinsinf_frm_eeresp_1_0" />
	</wsdl:message>
	<wsdl:message name="updinsinf_frm_eeresp_1_0Response">
		<wsdl:part name="parameters" element="ns:updinsinf_frm_eeresp_1_0Response" />
	</wsdl:message>
	<wsdl:message name="updinsinf_frm_eeresp_1_0_XMLRequest">
		<wsdl:part name="parameters" element="ns:updinsinf_frm_eeresp_1_0_XML" />
	</wsdl:message>
	<wsdl:message name="updinsinf_frm_eeresp_1_0_XMLResponse">
		<wsdl:part name="parameters" element="ns:updinsinf_frm_eeresp_1_0_XMLResponse" />
	</wsdl:message>
	<wsdl:portType name="UpdInsInf_frm_EEResp_1_0PortType">
		<wsdl:operation name="updinsinf_frm_eeresp_1_0">
			<wsdl:input message="tns:updinsinf_frm_eeresp_1_0Request"
				wsaw:Action="urn:updinsinf_frm_eeresp_1_0" />
			<wsdl:output message="tns:updinsinf_frm_eeresp_1_0Response"
				wsaw:Action="urn:updinsinf_frm_eeresp_1_0Response" />
		</wsdl:operation>
		<wsdl:operation name="updinsinf_frm_eeresp_1_0_XML">
			<wsdl:input message="tns:updinsinf_frm_eeresp_1_0_XMLRequest"
				wsaw:Action="urn:updinsinf_frm_eeresp_1_0_XML" />
			<wsdl:output message="tns:updinsinf_frm_eeresp_1_0_XMLResponse"
				wsaw:Action="urn:updinsinf_frm_eeresp_1_0_XMLResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UpdInsInf_frm_EEResp_1_0SOAP11Binding"
		type="tns:UpdInsInf_frm_EEResp_1_0PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="updinsinf_frm_eeresp_1_0">
			<soap:operation soapAction="urn:updinsinf_frm_eeresp_1_0"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updinsinf_frm_eeresp_1_0_XML">
			<soap:operation soapAction="urn:updinsinf_frm_eeresp_1_0_XML"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UpdInsInf_frm_EEResp_1_0">
		<wsdl:port name="UpdInsInf_frm_EEResp_1_0SOAP11port_http"
			binding="tns:UpdInsInf_frm_EEResp_1_0SOAP11Binding">
			<soap:address
				location="http://yoda.corp.apria.com:10010/web/services/UpdInsInf_frm_EEResp_1_0" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
