AESMobileWSAppWeb/WebContent/WEB-INF/wsdl/ReferralIntakeWOSts_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://referralintakewosts_1_0.wsbeans.iseries" xmlns:axis2="http://referralintakewosts_1_0.wsbeans.iseries" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://referralintakewosts_1_0.wsbeans.iseries/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>ReferralIntakeWOSts_1_0</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://referralintakewosts_1_0.wsbeans.iseries/xsd" xmlns:ns="http://referralintakewosts_1_0.wsbeans.iseries/xsd">
            <xs:element name="referralintakewosts_1_0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns:ReferralIntakeWOSts_1_0Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ReferralIntakeWOSts_1_0Input">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_BusinessUnit" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_FromDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_IntakeStartSeq" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_ReferralZipCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ToDate" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="referralintakewosts_1_0Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:ReferralIntakeWOSts_1_0Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ReferralIntakeWOSts_1_0Result">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="_Intake" nillable="true" type="ns:Intake"/>
                    <xs:element minOccurs="0" name="_IntakeCount" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_IntakeOverflow" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_RecCount" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_RecStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WOCount" nillable="true" type="xs:decimal"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="_WorkOrder" nillable="true" type="ns:WorkOrder"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Intake">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_Associate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_FollowpCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_IntakeCreateDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_IntakeCreateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_IntakeStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_IntakeStatusDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_IntakeStatusTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_Intake_" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PatientFirstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PatientID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PatientLastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PatientMI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PhysicianID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PhysicianName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ReferralID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ReferralName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ReferralZipCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkOrder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_Associate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_CompleteDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_CompleteTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_DeliveryDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_DeliveryTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_EQDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_EQTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_Intake_" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_Product1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_Product2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_Product3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_Product4" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ReadyDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ReadyTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WOCreateDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WOCreateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WODeliveryAdressLine2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WODeliveryAdrressLine1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WODeliveryCity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WODeliveryState" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WODeliveryZipCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WOSatusDesription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WOStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_WorkOrder" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="referralintakewosts_1_0_XML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns:ReferralIntakeWOSts_1_0Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="referralintakewosts_1_0_XMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="referralintakewosts_1_0_XMLRequest">
        <wsdl:part element="ns0:referralintakewosts_1_0_XML" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="referralintakewosts_1_0_XMLResponse">
        <wsdl:part element="ns0:referralintakewosts_1_0_XMLResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="referralintakewosts_1_0Request">
        <wsdl:part element="ns0:referralintakewosts_1_0" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="referralintakewosts_1_0Response">
        <wsdl:part element="ns0:referralintakewosts_1_0Response" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ReferralIntakeWOSts_1_0PortType">
        <wsdl:operation name="referralintakewosts_1_0_XML">
            <wsdl:input message="axis2:referralintakewosts_1_0_XMLRequest" wsaw:Action="urn:referralintakewosts_1_0_XML"/>
            <wsdl:output message="axis2:referralintakewosts_1_0_XMLResponse" wsaw:Action="urn:referralintakewosts_1_0_XMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="referralintakewosts_1_0">
            <wsdl:input message="axis2:referralintakewosts_1_0Request" wsaw:Action="urn:referralintakewosts_1_0"/>
            <wsdl:output message="axis2:referralintakewosts_1_0Response" wsaw:Action="urn:referralintakewosts_1_0Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReferralIntakeWOSts_1_0SOAP11Binding" type="axis2:ReferralIntakeWOSts_1_0PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="referralintakewosts_1_0_XML">
            <soap:operation soapAction="urn:referralintakewosts_1_0_XML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="referralintakewosts_1_0">
            <soap:operation soapAction="urn:referralintakewosts_1_0" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReferralIntakeWOSts_1_0">
        <wsdl:port binding="axis2:ReferralIntakeWOSts_1_0SOAP11Binding" name="ReferralIntakeWOSts_1_0SOAP11port_http">
            <soap:address location="http://br0210.corp.apria.com:10000/web/services/ReferralIntakeWOSts_1_0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>