UpsltDeliveryStatusParent/UpsltDeliveryStatusWeb/src/main/webapp/WEB-INF/wsdl/DeliveryStatusImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="DeliveryStatusImplService" targetNamespace="http://delivery.upslt.services.web.apria.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://delivery.upslt.services.web.apria.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://delivery.upslt.services.web.apria.com/" schemaLocation="DeliveryStatusImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getDeliveryStatus">
    <part element="tns:getDeliveryStatus" name="parameters"/>
  </message>
  <message name="getDeliveryStatusResponse">
    <part element="tns:getDeliveryStatusResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="setServiceStatus">
    <part element="tns:setServiceStatus" name="parameters"/>
  </message>
  <message name="setServiceStatusResponse">
    <part element="tns:setServiceStatusResponse" name="parameters"/>
  </message>
  <message name="isServiceActive">
    <part element="tns:isServiceActive" name="parameters"/>
  </message>
  <message name="isServiceActiveResponse">
    <part element="tns:isServiceActiveResponse" name="parameters"/>
  </message>
  <message name="getStatusMessage">
    <part element="tns:getStatusMessage" name="parameters"/>
  </message>
  <message name="getStatusMessageResponse">
    <part element="tns:getStatusMessageResponse" name="parameters"/>
  </message>
  <portType name="DeliveryStatusImplDelegate">
    <operation name="getDeliveryStatus">
      <input message="tns:getDeliveryStatus"/>
      <output message="tns:getDeliveryStatusResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="setServiceStatus">
      <input message="tns:setServiceStatus"/>
      <output message="tns:setServiceStatusResponse"/>
    </operation>
    <operation name="isServiceActive">
      <input message="tns:isServiceActive"/>
      <output message="tns:isServiceActiveResponse"/>
    </operation>
    <operation name="getStatusMessage">
      <input message="tns:getStatusMessage"/>
      <output message="tns:getStatusMessageResponse"/>
    </operation>
  </portType>
  <binding name="DeliveryStatusImplPortBinding" type="tns:DeliveryStatusImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getDeliveryStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="setServiceStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isServiceActive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStatusMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DeliveryStatusImplService">
    <port binding="tns:DeliveryStatusImplPortBinding" name="DeliveryStatusImplPort">
      <soap:address location="http://localhost:9081/UpsltDeliveryStatusWar/DeliveryStatusImplService"/>
    </port>
  </service>
</definitions>