UpsltDeliveryStatusParent/UpsltDeliveryStatusWeb/src/main/webapp/WEB-INF/wsdl/WorkOrderETAService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="WorkOrderETAService" targetNamespace="http://delivery.upslt.services.web.apria.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://delivery.upslt.services.web.apria.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://delivery.upslt.services.web.apria.com/" schemaLocation="WorkOrderETAService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getWorkOrderETA">
    <part element="tns:getWorkOrderETA" name="parameters"/>
  </message>
  <message name="getWorkOrderETAResponse">
    <part element="tns:getWorkOrderETAResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="getPatientWorkOrdersETA">
    <part element="tns:getPatientWorkOrdersETA" name="parameters"/>
  </message>
  <message name="getPatientWorkOrdersETAResponse">
    <part element="tns:getPatientWorkOrdersETAResponse" name="parameters"/>
  </message>
  <portType name="WorkOrderETAServiceImplDelegate">
    <operation name="getWorkOrderETA">
      <input message="tns:getWorkOrderETA"/>
      <output message="tns:getWorkOrderETAResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getPatientWorkOrdersETA">
      <input message="tns:getPatientWorkOrdersETA"/>
      <output message="tns:getPatientWorkOrdersETAResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="WorkOrderETAServicePortBinding" type="tns:WorkOrderETAServiceImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getWorkOrderETA">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientWorkOrdersETA">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WorkOrderETAService">
    <port binding="tns:WorkOrderETAServicePortBinding" name="WorkOrderETAServicePort">
      <soap:address location="http://localhost:9080/UpsltDeliveryStatusWar/WorkOrderETAService"/>
    </port>
  </service>
</definitions>