MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/CustomerDetails2_0/beans/AES_CustomerDetails_Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_GetCustomer_Lib_2_0/com/apria/services/aes/customerdetails/beans" xmlns:bons0="http://AES_GetCustomer_Lib_2_0/com/apria/services/aes/customerdetails/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="AES_CustomerDetails_Request.xsd"/>
	<xsd:complexType name="AES_CustomerDetails_Exception">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RequestBO" type="bons0:AES_CustomerDetails_Request">
			</xsd:element>
			<xsd:element minOccurs="0" name="ExceptionMessage" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>