MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/IntakeDetailsSummary/beans/AES_IntakeDetailsSummary_Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_IntakeStatus_Lib_1_0/com/apria/services/aes/intakestatus/beans" xmlns:bons0="http://AES_IntakeStatus_Lib_1_0/com/apria/services/aes/intakestatus/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="AES_IntakeDetailsSummary_Request.xsd"/>
	<xsd:complexType name="AES_IntakeDetailsSummary_Exception">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RequestBO" type="bons0:AES_IntakeDetailsSummary_Request"/>
			<xsd:element minOccurs="0" name="ExceptionMessage" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>