AgentQueryServiceWebParent/AgentQueryServiceWeb/src/main/webapp/WEB-INF/wsdl/AgentServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="AgentServiceImplService" targetNamespace="http://acis.services.web.apria.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://acis.services.web.apria.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://acis.services.web.apria.com/" schemaLocation="AgentServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAgentDetailList">
    <part element="tns:getAgentDetailList" name="parameters"/>
  </message>
  <message name="getAgentDetailListResponse">
    <part element="tns:getAgentDetailListResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="getAgentList">
    <part element="tns:getAgentList" name="parameters"/>
  </message>
  <message name="getAgentListResponse">
    <part element="tns:getAgentListResponse" name="parameters"/>
  </message>
  <message name="getAttributeList">
    <part element="tns:getAttributeList" name="parameters"/>
  </message>
  <message name="getAttributeListResponse">
    <part element="tns:getAttributeListResponse" name="parameters"/>
  </message>
  <message name="getContactPreferenceList">
    <part element="tns:getContactPreferenceList" name="parameters"/>
  </message>
  <message name="getContactPreferenceListResponse">
    <part element="tns:getContactPreferenceListResponse" name="parameters"/>
  </message>
  <message name="getDeliveryCommitmentList">
    <part element="tns:getDeliveryCommitmentList" name="parameters"/>
  </message>
  <message name="getDeliveryCommitmentListResponse">
    <part element="tns:getDeliveryCommitmentListResponse" name="parameters"/>
  </message>
  <message name="getProductPreferenceList">
    <part element="tns:getProductPreferenceList" name="parameters"/>
  </message>
  <message name="getProductPreferenceListResponse">
    <part element="tns:getProductPreferenceListResponse" name="parameters"/>
  </message>
  <portType name="AgentServiceImplDelegate">
    <operation name="getAgentDetailList">
      <input message="tns:getAgentDetailList"/>
      <output message="tns:getAgentDetailListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getAgentList">
      <input message="tns:getAgentList"/>
      <output message="tns:getAgentListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getAttributeList">
      <input message="tns:getAttributeList"/>
      <output message="tns:getAttributeListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getContactPreferenceList">
      <input message="tns:getContactPreferenceList"/>
      <output message="tns:getContactPreferenceListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getDeliveryCommitmentList">
      <input message="tns:getDeliveryCommitmentList"/>
      <output message="tns:getDeliveryCommitmentListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getProductPreferenceList">
      <input message="tns:getProductPreferenceList"/>
      <output message="tns:getProductPreferenceListResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="AgentServiceImplPortBinding" type="tns:AgentServiceImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAgentDetailList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getAgentList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getAttributeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getContactPreferenceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getDeliveryCommitmentList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getProductPreferenceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AgentServiceImplService">
    <port binding="tns:AgentServiceImplPortBinding" name="AgentServiceImplPort">
      <soap:address location="http://localhost:9080/AgentQueryServiceWeb/AgentServiceImplService"/>
    </port>
  </service>
</definitions>