MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/BusaService/beans/AES_GetBusa_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_GetBusa_Lib_1_0/com/apria/services/aes/getbusa/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AES_GetBusa_Response">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BusinessUnit" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="BusinessUnitName" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="CPUName" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="RecCount" nillable="true" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>