MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/WorkOrderDetails/beans/AES_FollowupCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_GetWorkOrderDetails_Lib_1_0/com/apria/services/aes/workorderdetails/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AES_FollowupCode">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Code" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Status" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>