MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/PurchaseOrderLookup/purchaseorderlookup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ap.apria.com/purchaseorderlookup/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="purchaseorderlookup" targetNamespace="http://ap.apria.com/purchaseorderlookup/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ap.apria.com/purchaseorderlookup/">
			<xsd:element name="getPurchaseOrderInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="tns:PurchaseOrderInfoRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPurchaseOrderInfoResponse">
				<xsd:complexType>
					<xsd:sequence>						<xsd:element name="out" type="tns:PurchaseOrderInfoResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PurchaseOrderInfoResponse">
				<xsd:sequence>					<xsd:element name="purchaserOrderInfoList" type="tns:PurchaseOrderInfoList"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PurchaserOrderInfo">
				<xsd:sequence>
					<xsd:element name="purchaseOrderNo" type="xsd:string"></xsd:element>
					<xsd:element name="poType" type="xsd:string"></xsd:element>
					<xsd:element name="costCenter" type="xsd:string"></xsd:element>
					<xsd:element name="vendorNumber" type="xsd:string"></xsd:element>
					<xsd:element name="vendorName" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PurchaseOrderInfoRequest">
				<xsd:sequence>
					<xsd:element name="purchaseOrderNo" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PurchaseOrderInfoList">
				<xsd:sequence>
					<xsd:element name="purchaseOrderInfo" type="tns:PurchaserOrderInfo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getVendorInfo">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="tns:VendorInfoRequest"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getVendorInfoResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="tns:VendorInfoResponse"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="VendorInfoRequest">
				<xsd:sequence>
					<xsd:element name="vendorNo" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="VendorInfoResponse">
				<xsd:sequence>
					<xsd:element name="vendorInfoList" type="tns:VendorInfoList"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="VendorInfoList">
				<xsd:sequence>
					<xsd:element name="vendorInfo" type="tns:VendorInfo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="VendorInfo">
				<xsd:sequence>
					<xsd:element name="vendorNo" type="xsd:string"></xsd:element>
					<xsd:element name="vendorName" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPurchaseOrderInfoRequest">
		<wsdl:part element="tns:getPurchaseOrderInfo" name="getPurchaseOrderInfoParameters" />
	</wsdl:message>
	<wsdl:message name="getPurchaseOrderInfoResponse">
		<wsdl:part element="tns:getPurchaseOrderInfoResponse" name="getPurchaseOrderInfoResult" />
	</wsdl:message>
	<wsdl:message name="getVendorInfoRequest">
		<wsdl:part name="getVendorInfoParameters" element="tns:getVendorInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVendorInfoResponse">
		<wsdl:part name="getVendorInfoResult" element="tns:getVendorInfoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="purchaseorderlookup">
		<wsdl:operation name="getPurchaseOrderInfo">
			<wsdl:input message="tns:getPurchaseOrderInfoRequest" />
			<wsdl:output message="tns:getPurchaseOrderInfoResponse" />
		</wsdl:operation>
		<wsdl:operation name="getVendorInfo">
			<wsdl:input message="tns:getVendorInfoRequest"></wsdl:input>
			<wsdl:output message="tns:getVendorInfoResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="purchaseorderlookupSOAP" type="tns:purchaseorderlookup">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPurchaseOrderInfo">
			<soap:operation soapAction="http://com.apria.ap/purchaseorderlookup/getPurchaseOrderInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVendorInfo">
			<soap:operation soapAction="http://ap.apria.com/purchaseorderlookup/getVendorInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="purchaseorderlookup">
		<wsdl:port binding="tns:purchaseorderlookupSOAP" name="purchaseorderlookupSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
