MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/AgentDetails/beans/AES_AgentDetails_Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_GetAgentDetails_Lib_1_0/com/apria/services/aes/agentdetails/beans" xmlns:bons0="http://AES_GetAgentDetails_Lib_1_0/com/apria/services/aes/agentdetails/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="AES_AgentDetails_Request.xsd"/>
	<xsd:complexType name="AES_AgentDetails_Exception">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RequestBO" type="bons0:AES_AgentDetails_Request">
			</xsd:element>
			<xsd:element minOccurs="0" name="ExceptionMessage" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>