MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/IntakeFollowUp/AES_IntakeFollowUpResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_IntakeFollowUp/com/apria/web/services"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AES_IntakeFollowUpResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="message" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="result" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>