MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/CRTIntakeFollowUpCode/AES_CrtIntkFlwUpCdResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://AES_CRT_Intake_FollowUpCodeV1/com/apria/web/services/intake/followcode"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AES_CrtIntkFlwUpCdResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Result" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="message" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>