MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/IntakeWorkOrders/beans/AES_WorkOrderDetailsSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_GetIntakeWorkOrders_Lib_1_0/com/apria/services/aes/intakeworkorders/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AES_WorkOrderDetailsSummary">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="WorkOrderBusinessUnit" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="WorkOrderNumber" nillable="true" type="xsd:string"/>
			<xsd:element default="AA" minOccurs="0" name="WorkOrderStatus" nillable="true" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>