MediationServicesParent/MediationServicesWeb/src/main/webapp/WEB-INF/wsdl/ProductEligibility/beans/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AES_GetProductEligibility_Svcs_1_0/com/apria/services/aes/producteligibility/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AES_ProductEligibility_Request">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="dateOfService" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="payerID" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="productID" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tranTypeIn" nillable="true" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>